<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="3">
    <test verbose="2" preserve-order="true"
          name="Parallel Test Example Class">
        <classes>
            <class name="parallelexample.MethExample"></class>
            <class name="parallelexample.ClassExample"></class>
        </classes>
    </test>
</suite>